#novedades-texturas dl {
	text-align: center;
}

#novedades-texturas dl,
#novedades-texturas dt,
#novedades-texturas dd {
	max-width: 100%!important;
}

#novedades-texturas dd {
	line-height: 23px;
}

#novedades-texturas section {
	width: 100%!important;
}

div.product {
	box-sizing: border-box;
	width: 100%;
	max-width: 500px;
	margin: 14px auto;
	background: #fff;
	padding: 28px 56px;
	border-radius: 5px;
}

div.product img {
	max-width: 100%;
}

@media all and (max-width: 569px) {
	#novedades .nobr {
		display: none;
	}
}